.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
.env

# Dati e output generati
data/raw/*
data/intermediate/*
data/processed/*
data/validation/*
!data/raw/.gitkeep
!data/intermediate/.gitkeep
!data/processed/.gitkeep
!data/validation/.gitkeep
